$red: #550000;
body, html {
  font-family: "Roboto", sans-serif;
  background: darken(white, 0.2);
  color: $red;
}
.active {
  color: pink;
}

.vis-item.sampleItem {
  color: white;
  background-color: red;
  border: 0px;
  border-radius: 2px;
}

#display {
  font-size: 48px;
  text-align: center;
}
