$red: #550000;
// $purple: #2E294E;
$purple: #8884d8;
$grey: #696969;
$lightgrey: rgb(240, 240, 240);
$color3: rgba(110,144,117, 0.7);
body, html {
  font-family: "Raleway", sans-serif;
  background: darken(white, 0.2);
  color: $grey;
}

h1 {
  color: $purple;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 0px;
}

h3 {
  font-weight: normal;
}

.secondSelect {
  background-color: #FFFFFF;
}

input {
  color: #000000;
  font-family: "Raleway", sans-serif;
}

autocomplete {
  margin-left: 4px;
}

a {
  margin-left: 3px;
  margin-right: 3px;
}

button {
  background-color: #FFFFFF;
  border: 1px solid $purple;
  color: $purple;
  font-weight: bold;
  margin-left: 3px;
  margin-right: 3px;
}

ul {
  list-style-type: none;
}

.Select-input {
  background-color: #FFFFFF;
}

.Select-value .selectItem {
  background-color: #FFFFFF;

}

.timelineTile {
  display: flex;
  justify-content: space-between;
}


.select-menu-outer {
  background-color: $color3;

}
* {
  visibility: visible;
}

.vis-item.sampleItem {
  color: white;
  background-color: $color3;
  height: 6px;
  border: 0px;
  border-radius: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.vis-item.sampleItem:hover{
  color: white;
  background-color: $purple;
  height: 6px;
  border: 0px;
  border-radius: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.customTooltip {
  color: $purple;
  border: 1px solid $purple;
  background-color: rgba(255,255,255, 1);
  margin: -5px;
  padding: -5px;
}

.searchBar {
  margin-bottom: 10px;
  margin-left: 2px;
}

.vis-group.sample {
  color: $purple ;
}

.vis-timeline {
  visibility: visible;
}

.timelineWrapper{
  margin-top: 50px;
}

.test {
  color: $grey;
  text-align: center;
  margin-bottom: 15px;
}

.postView {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 2px dotted rgba(0,0,0,0);
  align-items: center;
  transition: 0.35s ease;
  width: 400px;
}

.postView:hover, .postView:active {
background: $lightgrey;
}

.postViewPlaceholder {
  width: 400px;

}

.postViewPlaceholder:hover {

}

.poetDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.poetDisplayTitle {
  @extend .poetDisplay;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.black {
  color: black;
}

.flexboxRow {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

header {
  border-bottom: 1px solid $lightgrey;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}


.flexbox-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

#display {
  font-size: 36px;
  text-align: center;
}
